@import "tailwindcss";

html {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html a {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5 {
    font-family: "Droid Serif",georgia,"Times New Roman",palatino,"Hoefler Text",baskerville,serif;
    text-rendering: optimizelegibility;
    font-weight: normal;
    color: inherit;
}

body {
    background-color: #662d12;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #3c1e16;
    font-size: 13px;
}

h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    margin: 0 0 10px;
    max-width: 400px;
    min-height: 30px;
    width: 100%;
}

p {
    font-family: arial,helvetica,sans-serif;
}

.contrast-box {
    color: #3c1e16;
}

.grey-box {
    background-color: #d2c78e;
    padding: 10px;
}

.tab-content {
    padding: 0 20px 0 10px;
}

.outline-border {
    outline:10px solid rgba(0,0,0,0.3);
}