/* index.css */
@import "tailwindcss";

html {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  background-color: #662d12;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3c1e16;
  font-size: 13px;
}

h1, h2, h3, h4, h5 {
  font-family: "Droid Serif", georgia, "Times New Roman", serif;
  font-weight: normal;
}

h2 {
  font-size: 1.7em;
  line-height: 1.2em;
  margin: 0 0 10px;
}

.contrast-box {
  color: #3c1e16;
}

.grey-box {
  background-color: #d2c78e;
  padding: 10px;
}

.tab-content {
  padding: 0 20px 0 10px;
}

.outline-border {
  outline: 10px solid rgba(0,0,0,0.3);
}

button {
  font-family: "Droid Serif", georgia, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.quantity-btn {
  border-color: #711A0F;
  color: #ffffff;
  background: url("//gf1.geo.gfsrv.net/cdn3a/8568b91705c7d246e926bdbc9b04b7.png") 0 -2px transparent;
  text-shadow: 1px 1px 0px #000;
  min-width: 40px;
  border-width: 1px;
  box-shadow: rgba(0,0,0,0.3) 2px 2px 0px 1px;
  transition: all 0.2s; 
}

.quantity-btn:hover {
  opacity: 0.9;
}

.quantity-btn-active {
  background: linear-gradient(#af1f1f, #8c1919);
  box-shadow: #000 2px 2px 3px -1px inset;
  outline: none;
}

.base-green-btn {
  background: url("//gf1.geo.gfsrv.net/cdn3a/8568b91705c7d246e926bdbc9b04b7.png") 0 -150px transparent;
  text-shadow: #290000 1px 1px 0px;
  min-height: 32px;
  box-shadow: rgba(0,0,0,0.3) 2px 2px 0px 0px;
  border-width: 1px;
  border-color: #58bb09;
  color: #ffffff;
}

.base-green-btn:hover {
  background: url("//gf1.geo.gfsrv.net/cdn3a/8568b91705c7d246e926bdbc9b04b7.png") 0 -113px transparent;
  border-color: #845805;
}

.metin-container {
  width: 1016px;
  height: 655px;
}

.page-image {
  background-image: url(//gf3.geo.gfsrv.net/cdn54/101a61998e4ae0929a7a5512c7840c.jpg);
}

.metin-logo {
  background: url("//gf1.geo.gfsrv.net/cdn60/67d69843057d03fa0fd898175c3cf9.png") 0% 50% no-repeat;
  height: 40px;
  margin: 0;
  text-indent: -9999px;
}